body {
    margin: 0;
    font-family: 'Playfair Display', serif;
}
.page-container {
    position: relative;
    min-height: 100vh;
    background-color: cadetblue;
}
.page-header {
    display: flex;
    background-color: darkslateblue;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.page-header a {
    margin: 1em;
    color: cadetblue;
}
.page-header h1 {
    margin: 1em;
    color: whitesmoke;
}
.content-container {
    padding-bottom: 2.5rem;
}
.page-footer {
    display: flex;
    background-color: darkslateblue;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem;
    justify-content: center;
    
}
.page-footer p {
    color: cadetblue;
}
