body {
    background-color: cadetblue;
    margin: 0;
}
.page-header {
    display: flex;
    background-color: darkslateblue;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.page-header a {
    margin: 1em;
}
.page-header h1 {
    margin: 1em;
}
page-footer {
    background-color: darkslateblue;
}